<div class="container mt-5">
<div class="row mb-5">
  <h3>商品詳細</h3>
</div>

  <div class="row col-12 justify-content-center shadow-lg px-4 py-5">

      <div class="col-6 d-flex justify-content-center">
        <%= image_tag @item.image,size: "400x400" %><br>
      </div>

      <div class="col-6 d-flex justify-content-center">
        <table class = "table-sm">
          <body>
            <tr>
              <td class="col-2 align-top">商品名</td>
              <td  class ="col-4 align-top"><%= @item.name %></td>
            </tr>
            <tr>
              <td class ="align-top">商品説明</td>
              <td class ="align-top"><%= @item.introduction %></td>
            </tr>
            <tr>
              <td class ="align-top">ジャンル</td>
              <td class ="align-top"><%= @item.genre.name %></td>
            </tr>
            <tr>
              <td class ="align-top">税込価格<br>(税抜き価格)</td>
              <td class ="align-top"><%= @item.price %>(<%= @item.add_tax_price.to_s(:delimited) %>)円</td>
            </tr>
            <tr>
              <td class ="align-top">販売ステータス　</td>
              <td class ="align-top"><% if @item.is_active == true %>
              <p class= "text-success my-auto">
                <%= @item.is_active_check %>
              </p>
            <% else %>
              <p class= "text-black-50 my-auto">
                <%= @item.is_active_check %>
              </p>
            <% end %></td>
            </tr>

            <tr>
              <td><%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-sm btn-outline-success" %></td>
            </tr>

          </body>

        </table>

      </div>

  </div>
</div>