<div class="container">
  <div class="row">
    <div class="col">

      <h3>商品詳細</h3>

        <%= image_tag @item.image,size: "100x100" %><br>

        <table>
          <body>
            <tr>
              <td>商品名</td>
              <td><%= @item.name %></td>
            </tr>
            <tr>
              <td>商品説明</td>
              <td><%= @item.introduction %></td>
            </tr>
            <tr>
              <td>ジャンル</td>
              <td><%= @item.genre.name %></td>
            </tr>
            <tr>
              <td>税込価格<br>(税抜き価格)</td>
              <td><%= @item.price %>(<%= @item.add_tax_price.to_s(:delimited) %>)円</td>
            </tr>
            <tr>
              <td>販売ステータス</td>
              <td><%= @item.is_active_check %></td>
            </tr>
          </body>

          <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-sm btn-success" %>

        </table>
    </div>
  </div>
</div>