<div class="container">
  <div class="col-md-7 mb-5 mt-5">
    <h3>管理者ログイン</h3>
  </div>
    <%= form_with model: @customer, url: customer_session_path do |f| %>
    <div class="row">
      <div class="col-4">
        <table class="table table-borderless">
          <tr>
            <td>
              <%= f.label :email,"メールアドレス" %>
            </td>
            <td>
              <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: 'sample@example.com' %>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.label :password,"パスワード" %>
            </td>
            <td>
              <%= f.password_field :password, autocomplete: "current-password" %>
            </td> 
          </tr>
        </table>
      </div>
    </div>
    <%= f.submit "ログイン",class: 'btn btn-outline-success' %>
    <% end %>
