
<div class ="container">
  <div class ="main-image">
  <%= image_tag 'top.png', size: "150x80", class: "top-image-vw d-block mx-auto" %>
  <p class ="top-p">
  ようこそながのCAKEへ!<br>
  このサイトは、ケーキ販売のECサイトになります。<br>
  会員でない方も商品の閲覧はできますが、<br>
  購入には会員登録が必要になります。</p>
  </div>

  <h5>新着商品</h5>
  <div class ="row">
    <% @items.each do |item| %>
      <table>
        <tbody>
          <tr>
            <td>
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.image,size: "100x100" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to item.name,item_path(item.id) %>
            </td>
          </tr>
          <tr>
            <td>
              <p>¥<%= link_to item.add_tax_price,item_path(item.id) %></p>
            </td>
          </tr>

      </table>
    <% end %>
  </div>
</div>