
<div class ="container">
  <div class = "row" >
    <div class ="col-3">
      <table cass = "table">
        <thead>
          <th>ジャンル</th>
        </thead>

          <% @genres.each do |genre| %>
          <tbody>
          <tr><td><%= genre.name %></td></tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class ="card  mt-5 d-flex mx-auto" style="max-width: 800px">
    <%= image_tag 'top.png', class: "card-img mx-auto" %>
    <p class ="text-light card-img-overlay d-flex align-items-end justify-content-end ">
    ようこそながのCAKEへ!<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。</p>
  </div>

  <h5 class ="col-3 mt-4 text-right">新着商品</h5>
  <div class ="row d-flex justify-content-center">

    <% @items.each do |item| %>
      <table  class="col-2 pl-5">
        <tbody>
          <tr>
            <td>
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.image,size: "100x100" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to item.name,item_path(item.id), class: "text-dark" %>
            </td>
          </tr>
          <tr>
            <td>
              <p>¥<%= link_to item.add_tax_price,item_path(item.id), class: "text-dark" %></p>
            </td>
          </tr>

      </table>
    <% end %>
  </div>
</div>