<div class="container">
  <div class="mb-4 mt-5">
    <h3><%= @customer.last_name %>　<%= @customer.first_name %>さんの会員情報編集</h3>
  </div>
  <%= form_with model: @customer, url: admin_customer_path do |f| %>
  <div class ="row col-12">
    <table class="col-8 table table-sm table-borderless">
      <tr>
        <td class ="table-dark pl-4">会員ID</td>
        <td class ="pl-3"><%= @customer.id %></td>
      </tr>
      <tr>
        <td class ="table-dark pl-4">氏名</td>
        <td class ="pl-3">
            <%= f.text_field :last_name, autofocus: true, placeholder: '令和' %>
            <%= f.text_field :first_name,placeholder: '道子' %>
        </td>
      </tr>
      <tr>
        <td class ="table-dark pl-4">フリガナ</td>
        <td class ="pl-3">
          <%= f.text_field :last_name_kana,placeholder: 'レイワ' %>
          <%= f.text_field :first_name_kana,placeholder: 'ミチコ' %>
        </td>
      </tr>
      <tr>
        <td class ="table-dark pl-4"><%= f.label :post_code,"郵便番号" %>
        </td>
        <td class ="pl-3"><%= f.text_field :post_code,placeholder: '0000000' %></td>
      </tr>
      <tr>
        <td class ="table-dark pl-4"><%= f.label :address,"住所(ハイフンなし)" %></td>
        <td class ="pl-3"><%= f.text_field :address, :size=>"46" ,placeholder: '東京都渋谷代々木神園町0-0'%></td>
      </tr>
      <tr>
        <td class ="table-dark pl-4"><%= f.label :phone_number,"電話番号(ハイフンなし)" %></td>
        <td class ="pl-3"><%= f.text_field :phone_number,placeholder: '00000000000' %></td>
      </tr>
      <tr>
        <td class ="table-dark pl-4"><%= f.label :email,"メールアドレス" %></td>
        <td class ="pl-3"><%= f.email_field :email, autocomplete: "email",placeholder: 'sample@example.com' %></td>
      </tr>
      <tr>
        <td class ="table-dark pl-4"><%= f.label :is_deleted,"退会ステータス" %></td>
        <td class ="pl-3">
          <%= f.radio_button :is_deleted, :false %><%= f.label :is_deleted_false,"有効" %>
          <%= f.radio_button :is_deleted, :true %><%= f.label :is_deleted_true,"退会" %>
        </td>
      </tr>
    </table>
  </div>
  <%= f.submit "編集内容を保存",class: 'btn btn-outline-success' %>
<% end %>
</div>