<%= form_with model: @customer, url: admin_customer_path do |f| %>
<table class="table table-sm table-borderless">
  <tr>
  <td>氏名</td>
  <td><%= f.label :last_name,"(姓)" %>
        <%= f.text_field :last_name, autofocus: true, placeholder: '令和' %>
  </td>
  <td><%= f.label :first_name,"(名)" %>
        <%= f.text_field :first_name,placeholder: '道子' %></td>
  </tr>
  <tr>
  <td>フリガナ</td>
  <td>
    <%= f.label :last_name_kana,"(セイ)" %>
    <%= f.text_field :last_name_kana,placeholder: 'レイワ' %>
  </td>
  <td>
    <%= f.label :first_name_kana,"(メイ)" %>
    <%= f.text_field :first_name_kana,placeholder: 'ミチコ' %>
  </td>
  </tr>
  <tr>
    <td><%= f.label :post_code,"郵便番号" %>
    </td>
    <td><%= f.text_field :post_code,placeholder: '0000000' %></td>
  </tr>
  <tr>
    <td><%= f.label :address,"住所(ハイフンなし)" %></td>
    <td><%= f.text_field :address, :size=>"60" ,placeholder: '東京都渋谷代々木神園町0-0'%></td>
  </tr>
  <tr>
    <td><%= f.label :phone_number,"電話番号(ハイフンなし)" %></td>
    <td><%= f.text_field :phone_number,placeholder: '00000000000' %></td>
  </tr>
  <tr>
    <td><%= f.label :email,"メールアドレス" %></td>
    <td><%= f.email_field :email, autocomplete: "email",placeholder: 'sample@example.com' %></td>
  </tr>
  <tr>
    <td><%= f.label :is_deleted,"退会ステータス" %></td>
    <td><%= f.radio_button :is_deleted, :false %>有効</td>
    <td><%= f.radio_button :is_deleted, :true %>退会</td>
  </tr>

  </table>
<%= f.submit "編集内容を保存",class: 'btn btn-success' %>

<% end %>