<div class="container">
  <div class="mb-4 mt-5">
    <h3><%= @customer.last_name %>　<%= @customer.first_name %>さんの会員詳細</h3>
  </div>
  <div class ="row col-12">
    <table class="col-8 table table-bordered">
      <tbody>
        <tr>
          <td class ="table-dark pl-4" style="width: 30%">会員ID</td>
          <td style="width: 70"%>
            <%= @customer.id %>
          </td>
        </tr>
        <tr>
          <td class ="table-dark pl-4">氏名</td>
          <td>
            <%= @customer.last_name %>
            <%= @customer.first_name %>
          </td>
        </tr>
        <tr>
          <td class ="table-dark pl-4">カナ</td>
          <td>
            <%= @customer.last_name_kana %>
            <%= @customer.first_name_kana %>
          </td>
        </tr>
        <tr>
          <td class ="table-dark pl-4">郵便番号</td>
          <td>
            <%= @customer.post_code %>
          </td>
        </tr>
        <tr>
          <td class ="table-dark pl-4">住所</td>
          <td>
            <%= @customer.address %>
          </td>
        </tr>
        <tr>
          <td class ="table-dark pl-4">電話番号</td>
          <td>
            <%= @customer.phone_number %>
          </td>
        </tr>
        <tr>
          <td class ="table-dark pl-4">メールアドレス</td>
          <td>
            <%= @customer.email %>
          </td>
        </tr>
        <tr>
          <td class ="table-dark pl-4">会員ステータス</td>
          <td>
            <% if @customer.is_deleted == false %>
              <span class="text-success">有効</span>
            <% else %>
              <span class=text-secondary>退会</span>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <%= link_to "編集する", edit_admin_customer_path(@customer), class: 'btn btn-outline-success mr-3' %>
    <%= link_to "注文履歴一覧", admin_order_path(@customer), class: 'btn btn-outline-primary' %>
</div>