
<div class="container">
  <div class="row">
    <div class="col-6 pl-5 ml-5 my-5">
      <h3 mx-auto>注文履歴詳細</h3>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-10">
      <table class="table table-borderless">
        <tr>
          <th style="width:20%"><h5 class="font-weight-bold">購入者</h5></th>
          <td>
            <%= link_to admin_customer_path(@order.customer_id) do %>
              <%= @order.customer.last_name %>　<%= @order.customer.first_name %>
            <% end %>
          </td>
        </tr>
        <tr style="height:20%">
          <th><h5 class="font-weight-bold">注文日</h5></th>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th><h5 class="font-weight-bold">配送先</h5></th>
          <td>〒<%=@order.post_code %><br><%=@order.address %></td>
        </tr>
        <tr>
          <td><h5 class="font-weight-bold">支払方法</h5></td>
          <td><%=@order.payment_method_i18n %></td>
        </tr>
        <tr>
          <td><h5 class="font-weight-bold">注文ステータス</h5></td>
          <td colspan="2">
            <%= form_with model: @order,url: admin_order_path, method: :patch do |f| %>
              <%= f.select :order_status, Order.order_statuses.keys.map{|k| [I18n.t("enums.order.order_status.#{k}"), k]} %>
              <%= f.submit "更新",class: "btn btn-sm btn-outline-success" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-8">
        <table class="table">
          <thead class ="table-dark">
          <tr>
            <th style="width:25%">商品名</th>
            <th>単価(税込み)</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
          </tr>
          </thead>
          <% @order.order_details.each do |order_detail| %>
          <tr>
            <td><%=order_detail.item.name %></td>
            <td><%= order_detail.item.add_tax_price.to_s(:delimited) %></td>
            <td><%= order_detail.amount %></td>
              <% total_price= order_detail.amount * order_detail.item.add_tax_price %>
            <td><%= total_price.to_s(:delimited) %></td>
            <td colspan="2">
              <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch, local: true do |f| %>
                <%= f.hidden_field :order_detail_id, :value => order_detail.id %>
                <%= f.select :making_status, OrderDetail.making_statuses_i18n.keys.map{|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %>
                <%= f.submit "更新", class: "btn btn-sm btn-outline-success ml-2" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="col-3 mt-5 offset-1">
        <table class="table table-bordered">
          <tr>
            <th class ="table-dark"><h5 class="font-weight-bold">商品合計</h5></th>
            <td class="font-weight-bold">
             <%=@order.total_payment.to_s(:delimited)%>円
            </td>
          </tr>
          <tr>
            <th class ="table-dark"><h5 class="font-weight-bold">送料</th>
            <td class="font-weight-bold"><%=@order.shipping_cost %>円</td>
          </tr>
          <tr>
            <td class ="table-dark"><h5 class="font-weight-bold">請求額合計</h5></td>
            <td class="font-weight-bold">
              <% total_price=@order.total_payment+@order.shipping_cost %>
              <%= total_price.to_s(:delimited)%>円
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

