<div class="container">
  <div class="mb-5 mt-5">
    <h3>配送先/登録一覧</h3>
  </div>

    <%= form_with model: @address,url: addresses_path do |f| %>
    <div class="row">
      <div class="col-12">
        <table class="table table-borderless">
          <tr>
            <td><%= f.label :post_code,"郵便番号(ハイフンなし)" %>
            </td>
            <td><%= f.text_field :post_code,placeholder: '0000000' %></td>
          </tr>
          <tr>
            <td><%= f.label :address,"住所" %></td>
            <td><%= f.text_field :address, :size=>"46" ,placeholder: '東京都渋谷代々木神園町0-0'%></td>
          </tr>
          <tr>
            <td>
              <%= f.label :address,"宛名" %></td>
            <td>
              <%= f.text_field :name,placeholder: '宛名' %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "新規登録",class: 'btn btn-outline-success' %></td>
          </tr>
        </table>
      </div>
    </div>
    <% end %>
<table class='table table-inverse'>
　<thead>
    <tr>
      <th class="table-dark">郵便番号</th>
      <th class="table-dark">住所</th>
      <th class="table-dark">宛名</th>
      <th class="table-dark"></th>
    </tr>
  </thead>
  <tbody>
    <% @addresses.each do |f| %>
      <tr>
        <td style="width: 15%"><%= f.post_code %></td>
        <td style="width: 40%"><%= f.address %></td>
        <td style="width: 20%"><%= f.name %></td>
        <td style="width: 25%">
          <%= link_to '編集する', edit_address_path(f), class: 'btn btn-sm btn-outline-success mr-5' %>
          <%= link_to '消去する', address_path(f),method: :delete, class: 'btn btn-sm btn-outline-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

