<div class="container">
  <div class="col-md-7 mb-5 mt-5">
    <h3>配送先/登録一覧</h3>
  </div>
    
    <%= form_with model: @address,url: addresses_path do |f| %>
    <div class="row">
      <div class="col">
        <table class="table table-borderless">
          <tr>
            <td><%= f.label :post_code,"郵便番号" %>
            </td>
            <td><%= f.text_field :post_code,placeholder: '0000000' %></td>
          </tr>
          <tr>
            <td><%= f.label :address,"住所(ハイフンなし)" %></td>
            <td><%= f.text_field :address, :size=>"46" ,placeholder: '東京都渋谷代々木神園町0-0'%></td>
          </tr> 
          <tr>
            <td>
              <%= f.label :address,"住所(ハイフンなし)" %></td>
            <td>
              <%= f.text_field :name,placeholder: '宛名' %>
            </td>
          </tr>
        </table>
      </div>
    </div>
     <%= f.submit "新規登録",class: 'btn btn-outline-success' %>
    <% end %>
<table class='table table-inverse'>
　<thead>
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @addresses.each do |f| %>
      <tr>
        <td><%= f.post_code %></td>
        <td><%= f.address %></td>
        <td><%= f.name %></td>
        <td>
          <%= link_to '編集する', edit_address_path(f), class: 'btn btn-success' %>
          <%= link_to '消去する', address_path(f),method: :delete, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

