<%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer' do |f| %>
<%= render "public/shared/error_messages", resource: resource %>
<div class="container">
  <div class="col-md-3 mb-5 mt-5">
    <h3>新規会員登録</h3>
  </div>
    <table class="table table-sm table-borderless">
      <tr>
        <td>氏名</td>
        <td>
          <%= f.text_field :last_name, autofocus: true, placeholder: '令和' %>
          <%= f.text_field :first_name,placeholder: '道子' %>
        </td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td>
          <%= f.text_field :last_name_kana,placeholder: 'レイワ' %>
          <%= f.text_field :first_name_kana,placeholder: 'ミチコ' %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :email,"メールアドレス" %></td>
        <td><%= f.email_field :email, autocomplete: "email",placeholder: 'sample@example.com' %></td>
      </tr> 
      <tr>
        <td><%= f.label :post_code,"郵便番号" %>
        </td>
        <td><%= f.text_field :post_code,placeholder: '0000000' %></td>
      </tr>
      <tr>
        <td><%= f.label :address,"住所(ハイフンなし)" %></td>
        <td><%= f.text_field :address, :size=>"46" ,placeholder: '東京都渋谷代々木神園町0-0'%></td>
      </tr> 
      <tr>
        <td><%= f.label :phone_number,"電話番号(ハイフンなし)" %></td>
        <td><%= f.text_field :phone_number,placeholder: '00000000000' %></td>
      </tr> 
      <tr>
        <td>
          <%= f.label :password,"パスワード" %>
          <% if @minimum_password_length %>
         (<%= @minimum_password_length %> 文字以上)
          <% end %></td>
        <td><%= f.password_field :password, autocomplete: "new-password" %></td>
      </tr> 
      <tr>
        <td><%= f.label :password_confirmation,"パスワード(確認用)" %></td>
        <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
      </tr>
      <tr>
        <td>
        </td>
        <td class="actions">
          <%= f.submit "新規会員登録",class: 'btn btn-outline-success' %>
          <% end %>
        </td>
      </tr>
    </table>
    <h3>既に登録済みの方</h3>
    <p><%= render "public/shared/links" %>からお願いします</p>
</div>
