<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
<table class="table table-sm table-borderless">
  <tr>
  <td>氏名</td>
  <td><%= f.label :last_name,"(姓)" %>
        <%= f.text_field :last_name, autofocus: true, maxlength: "8" %>
  </td>
  <td><%= f.label :first_name,"(名)" %>
        <%= f.text_field :first_name, autofocus: true, maxlength: "8" %></td>
  </tr>
  <tr>
  <td>フリガナ</td>
  <td>
    <%= f.label :last_name_kana,"(セイ)" %>
    <%= f.text_field :last_name_kana, autofocus: true, maxlength: "8" %>
  </td>
  <td>
    <%= f.label :first_name_kana,"(メイ)" %>
    <%= f.text_field :first_name_kana, autofocus: true, maxlength: "8" %>
  </td>
  
</table>
 
  <div class="field">
        <%= f.label :post_code %> <em>(6 characters maximum)</em><br />
        <%= f.text_field :post_code, autofocus: true, maxlength: "8" %>
  </div>
  
  <div class="field">
        <%= f.label :address %> <em>(6 characters maximum)</em><br />
        <%= f.text_field :address, autofocus: true, maxlength: "8" %>
  </div>
  
  <div class="field">
        <%= f.label :phone_number %> <em>(6 characters maximum)</em><br />
        <%= f.text_field :phone_number, autofocus: true, maxlength: "8" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "public/shared/links" %>