<div class="container mx-5">
  <div class="row col-12 px-5 ml-5">
    <div class="col-md-6 col-sm-12 rounded ml-5 px-5 my-4">
      <h3>注文情報確認</h3>
    </div>
  </div>

  <div class="row col-12 px-0">
    <div class="col-7 d-flex">
      <table class = "table table-bordered ">
        <thead>
        <tr>
          <td class = "table-dark">商品名</td>
          <td class = "table-dark">単価(税込)</td>
          <td class = "table-dark">数量</td>
          <td class = "table-dark">小計</td>
        </tr>
        </thead>

        <% @sum = 0 %>

        <% @cart_items.each do |cart_item| %>

          <tr>
            <td>
              <%=image_tag cart_item.item.image,size:"100x100" %>
              <%= cart_item.item.name %>
            </td>
            <td><%= cart_item.item.add_tax_price.to_s(:delimited) %></td>
            <td><%= cart_item.amount %></td>
            <% (@sum = cart_item.subtotal) %>
            <td><%= @sum.to_s(:delimited) %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="col-4 offset-1">
      <table class ="table-sm table-bordered ">
        <tr>
          <td class = "table-dark" style="width: 40%">送料</td>
          <td style="width: 40%">800</td>
        </tr>
        <tr>
          <td class = "table-dark" style="width: 40%">商品合計</td>
          <td style="width: 40%"><%= @sum.to_s(:delimited) %></td>
        </tr>
        <tr>
          <td class = "table-dark" style="width: 40%">請求金額</td>
          <td style="width: 40%"><%= (@sum + 800).to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>

      <table>
        <tr>
          <th>支払い方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th>お届け先</th>
          <td>
            <%= @order.address %>
            <%= @order.name %>
          </td>
        </tr>
      </table>

      <%= form_with model: @order_new , url: "/orders" , local:true do |f| %>
        <%= f.hidden_field :customer_id, value: current_customer.id %>
        <%= f.hidden_field :payment_method, value:  @order.payment_method %>
        <%= f.hidden_field :shipping_cost, value: 800 %>
        <%= f.hidden_field :post_code, value: @order.post_code %>
        <%= f.hidden_field :total_payment, value: @sum + 800%>
        <%= f.hidden_field :address, value: @order.address%>
        <%= f.hidden_field :name, value: @order.name %>
        <%= f.submit "注文を確定する",class: "btn btn-dark" %>
      <% end %>
    </div>
</div>
