<div class="container mt-5">
  <div class="row col-12 mb-3">
    <h3 class="col my-4">注文情報確認</h3>
  </div>

  <div class="row col-12">
    <div class="col-8">
      <table class = "table table-bordered ">
        <thead class="table-dark">
        <tr>
          <td class = "col-4 px-0 pl-1">商品名</td>
          <td class = "col-1 px-0 pl-1">単価(税込)</td>
          <td class = "col-1 px-0 pl-1">数量</td>
          <td class = "col-1 px-0 pl-1">小計</td>
        </tr>
        </thead>

        <% @sum = 0 %>
        <% @total = 0 %>

        <% @cart_items.each do |cart_item| %>

          <tr>
            <td class = "align-middle">
              <%= link_to item_path(cart_item.item.id) do %>
                <%=image_tag cart_item.item.image,size: "50x50" %>
                <span class ="text-dark"><%= cart_item.item.name %></span>
              <% end %>
            </td class = "align-middle">
            <td class = "align-middle"><%= cart_item.item.add_tax_price.to_s(:delimited) %></td>
            <td class = "align-middle"><%= cart_item.amount %></td>
            <% (@sum = cart_item.subtotal).to_s(:delimited) %>
            <td class = "align-middle"><%= @sum %></td>
            <% (@total += cart_item.subtotal).to_s(:delimited) %>
            <% @total %>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="col-3 offset-1 mx-0">
      <table class ="table-sm table-bordered ">
        <tr>
          <td class="table-dark" style="width: 40%">送料</td>
          <td style="width: 40%">800</td>
        </tr>
        <tr>
          <td class="table-dark" style="width: 40%">商品合計</td>
          <td style="width: 40%"><%= @total.to_s(:delimited) %></td>
        </tr>
        <tr>
          <td class="table-dark" style="width: 40%">請求金額</td>
          <td style="width: 40%"><%= (@total + 800).to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 d-flex mt-4">
      <h4 class= "mx-3"><strong>支払方法</strong></h4>
      <%= @order.payment_method_i18n %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 d-flex mt-3 mb-5">
      <h4 class= "mx-3"><strong>お届け先</strong></h4>
      〒<%= @order.address %><br>
      <%= @order.name %>
    </div>
  </div>
  <div>
    <%= form_with model: @order_new , url: "/orders" , local:true do |f| %>
      <%= f.hidden_field :customer_id, value: current_customer.id %>
      <%= f.hidden_field :payment_method, value:  @order.payment_method %>
      <%= f.hidden_field :shipping_cost, value: 800 %>
      <%= f.hidden_field :post_code, value: @order.post_code %>
      <%= f.hidden_field :total_payment, value: @total%>
      <%= f.hidden_field :address, value: @order.address%>
      <%= f.hidden_field :name, value: @order.name %>
      <div class="col text-center">
      <%= f.submit "注文を確定する",class: 'btn btn-outline-success' %>
      <div>
    <% end %>
  </div>
</div>
