<div class="container">
  <div class="row col-12 px-0">
    <div class="mt-5 mb-4">
      <h3>注文履歴一覧</h3>
    </div>
  </div>

  <div class="row col-12 px-0">

    <table class= "table table-bordered">
      <tr>
        <td class= "col-1 px-0 pl-1 py-2 table-dark">注文日</td>
        <td class= "col-5 px-0 pl-1 py-2 table-dark">配送先</td>
        <td class= "col-2 px-0 pl-1 py-2 table-dark">注文商品</td>
        <td class= "col-1 px-0 pl-1 py-2 table-dark">支払金額</td>
        <td class= "col-1 px-0 pl-1 py-2 table-dark">ステータス</td>
        <td class= "col-1 px-0 pl-1 py-2 table-dark">注文詳細</td>
      </tr>

      <% @orders.each do |order| %>
        <tr>
          <td class = "align-middle px-1 py-1"><%= order.created_at.strftime('%Y/%m/%d') %></td>
          <td class = "align-middle px-1 py-1">〒<%= order.post_code %><br><%= order.address %><br><%= order.name %></td>
          <td class = "align-middle px-1 py-1">
            <% order.order_details.each do |order| %>
          		<%= order.item.name %>
          		<br>
          	<% end %>
          </td>
          <td class = "align-middle px-1 py-1"><%= order.total_payment+order.shipping_cost %></td>
          <td class = "align-middle px-1 py-1"><%= order.order_status_i18n %></td>
          <td class = "align-middle "><%= link_to "表示する", order_path(order.id), class: "btn btn-primary btn-sm" %></td>
        </tr>
      <% end %>
    </table>
    <div class ="row col-12">
      <div class ="col">
        <span class="textt-center"><%= paginate @orders %></span>
      </div>
    </div>
  </div>
</div>

