<div class="container">
  <div class="row col-12 px-5 ml-5">
    <div class="col-md-6 col-sm-12 rounded ml-5 px-5 my-4">
      <h3>注文情報入力</h3>
    </div>

  </div>

  <%= form_with model: @order,url: orders_confirm_path, method: :post, local: true do |f| %>
    <div class="row">
      <div class="col-md-12">
        <h4><strong>支払方法</strong></h4>
      </div>
    </div>

    <div class="row col-12 px-5 mx-0 mb-3">
      <div class="custom-control custom-radio col-12">
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card], class: "h5" %>
      </div>
      <div class="custom-control custom-radio col-12">
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer], class: "h5"%>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h4><strong>お届け先</strong></h4>
      </div>
    </div>

    <div class="row col-12 px-5 mx-0 mb-3">
      <div class="custom-control custom-radio col-12">
        <%= f.radio_button :select_address, 0, :checked => true %>
        <%= f.label :select_address_0, "ご自身の住所", class: "h5 my-0" %><br>
        <div class="px-4 ">
          <%= '〒' + @address %><br>
          <%= @name %>
        </div>
      </div>

    </div>

    <div class="row col-12 px-5 mx-0  mb-3">
      <div class="custom-control custom-radio col-12">
        <%= f.radio_button :select_address, 1 %>
        <%= f.label :select_address_1, "登録済住所から選択", class: "h5 col-11 px-0" %>

        <div class="px-4">
          <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display), {}, class: "form-control mb-3" %>
        </div>
      </div>
    </div>

    <div class="row col-12 px-5 mx-0">
      <div class="custom-control custom-radio col-12">
        <%= f.radio_button :select_address, 2 %>
        <%= f.label :select_address_2, "新しいお届け先", class: "h5" %>

        <div class="visually-hidden form-group pl-4">
          <%= f.label :select_address_2, "郵便番号（ハイフンなし）", class: "col-3  col-form-label px-0 py-0 " %>
          <%= f.text_field :post_code %>
        </div>

        <div class="visually-hidden form-group pl-4">
          <%= f.label :select_address_2, "住所", class: "col-3 col-form-label px-0 py-0 " %>
          <%= f.text_field :address, class: "col-7 px-0" %>
        </div>

        <div class="visually-hidden form-group pl-4">
          <%= f.label :select_address_2, "宛名", class: "col-3 col-form-label px-0 py-0 " %>
          <%= f.text_field :name %>
        </div>

      </div>
    </div>

    <div class="col text-center mb-5">
      <%= f.submit "確認画面へ進む",class: 'btn btn-outline-primary' %>
    </div>

  <% end %>
</div>
