<div class="container mx-5">
  <div class="row">
    <div class="col-md-6 col-sm-12　rounded ml-5 px-5 my-4">
      <h3>注文情報入力</h3>
    </div>
  </div>
  <%= form_with(model: @order, local: true) do |f| %>
  <div class="row">
    <div class="col-md-6 col-sm-12 px-0 ">
      <h3><strong>支払い方法</strong></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 px-0 ">
      <div class="custom-control custom-radio">
      <%= f.radio_button :payment_method, :credit_card %>
      <%= f.label :payment_method, "クレジットカード" %><br>
      <%= f.radio_button :payment_method, :transfer %>
      <%= f.label :payment_method, "銀行振込" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 px-0 ">
      <h3><strong>お届け先</strong></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-sm-12 px-0 ">
      <div class="custom-control custom-radio">
      <%= f.radio_button :delivery_location, :yourself_address, :checked => true %>
      <%= f.label :delivery_location_yourself_address, "ご自身の住所" %>
      <%= @address.address %>
      </div>
      <br>
      <div class="custom-control custom-radio">
      <%= f.radio_button :delivery_location, :address %>
      <%= f.label :delivery_location_address, "登録済住所から選択" %>
      <%= f.collection_select( :address_id, Address.all, :id, :address,{}, {class: "form-control col-xl-12 pl-0"}) %>
      </div>
      <br>
      <div class="custom-control custom-radio">
      <%= f.radio_button :delivery_location, :new_address %>
      <%= f.label :delivery_location_new_address, "新しいお届け先" %>
      <p class="visually-hidden">郵便番号（ハイフンなし）<%= f.text_field :post_code %></p>
      <p class="visually-hidden">住所<%= f.text_field :address, class: "w-100" %></p>
      <p class="visually-hidden">宛名<%= f.text_field :name %></p>
      </div>
    </div>
  </div>
  <%= f.submit "確認画面へ進む",class: 'btn btn-primary' %>
  <% end %>
</div>
