<div class="container mx-5">
  <div class="row">
    <div class="col-md-6 col-sm-12　rounded ml-5 px-5 my-4">
      <h3>注文情報入力</h3>
    </div>
  </div>
  <%= form_with(model: @order, local: true) do |f| %>
  <div class="row">
    <div class="col-md-6 col-sm-12 px-0 ">
      <h3><strong>支払い方法</strong></h3>
      <%= f.radio_button :payment_method, :credit_card %>
      <%= f.label :payment_method, "クレジットカード" %><br>
      <%= f.radio_button :payment_method, :transfer %>
      <%= f.label :payment_method, "銀行振込" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 px-0 ">
      <h3><strong>お届け先</strong></h3>
      <%= f.radio_button :delivery_location, :yourself_address, :checked => true %>
      <%= f.label :yourself_address, "ご自身の住所" %><br>
      <%= @address.address %>
      <br>
      <%= f.radio_button :delivery_location, :address %>
      <%= f.label :post_code, "登録済住所から選択" %><br>
      <%= f.collection_select :address_id, Address.all, :id, :address %><br>
      <%= f.radio_button :delivery_location, :new_address %>
      <%= f.label :address, "新しいお届け先" %>
      <p>郵便番号（ハイフンなし）</p><%= f.text_field :post_code %>
      <p>住所</p><%= f.text_field :address %>
      <p>宛名</p><%= f.text_field :name %>
    </div>
  </div>
  <% end %>
</div>
