<div class="container">
  <div class="row col-12">
    <div class="mt-5 mb-4">
      <h3 mx-auto>注文履歴詳細</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h6>注文情報</h6>
      <!--注文情報テーブル-->
      <table class="table table-bordered">
        <tr>
          <td class="table-dark" style="width:30%">注文日</td>
          <td style="width:70%"><%=@order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td class="table-dark">配送先</td>
          <td>〒<%=@order.post_code %><br><%=@order.address %><br><%=@order.name%></td>
        </tr>
        <tr>
          <td class="table-dark">支払方法</td>
          <td><%=@order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th class="table-dark">
            注文ステータス
          </th>
          <td>
            <%=@order.order_status_i18n %>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-6">
      <h6>請求情報</h6>
      <!--請求情報テーブル-->
      <table class="table table-bordered">
        <tr>
          <td class="table-dark">
            商品合計
          </td>
          <td style="width:50%">
            <%= (@order.total_payment).to_s(:delimited)%>
          </td>
        </tr>
        <tr>
          <td class="table-dark">配送料</td>
          <td><%=@order.shipping_cost.to_s(:delimited) %></td>
        </tr>
        <tr>
          <th class="table-dark">
            ご請求額
          </th>
          <td>
            <% total_price=@order.total_payment+@order.shipping_cost %>
            <%= total_price.to_s(:delimited)%>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h6>注文内容</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <table class="table table-bordered">
        <thead>
          <th class="table-dark" style="width:60%">商品</th>
          <th class="table-dark" style="width:20%">単価（税込み）</th>
          <th class="table-dark" style="width:10%">個数</th>
          <th class="table-dark" style="width:10%">小計</th>
        </thead>
       <% @order_details.each do |order_detail| %>
       <tr>
         <td><%= order_detail.item.name%></td>
         <td><%= order_detail.item.add_tax_price.to_s(:delimited) %></td>
         <td><%= order_detail.amount %></td>
         <% total_price= order_detail.amount * order_detail.item.add_tax_price %>
         <td><%= total_price.to_s(:delimited) %> </td>
       </tr>
       <% end %>
      </table>
    </div>
  </div>
 </div>


