<h2>ログイン</h2>
<h5>会員の方はこちらからログイン</h5>
<%= form_with model: @customer, url: customer_session_path do |f| %>
  <div class="field">
    <%= f.label :email,"メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: 'sample@example.com' %>
  </div>

  <div class="field">
    <%= f.label :password,"パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  
  <div class="actions">
    <%= f.submit "ログイン",class: 'btn btn-success' %>
  </div>
<% end %>
<h5>会員登録がお済みでない方</h5>
<p><%= render "public/shared/links" %>から新規登録を行ってください</p>
