<div class="container">
  <div class="row">

      <div class="col-lg-3">
        <%= image_tag @item.image,size: "200x200" %><br>
      </div>

      <div class="col">
        <table>
          <body>
            <tr>
              <td><%= @item.name %></td>
            </tr>
            <tr>
              <td><%= @item.introduction %></td>
            </tr>
              <td>¥<%= @item.add_tax_price.to_s(:delimited) %>(税込)</td>
            </tr>
            <tr>
              <td>
                <%= form_with model: @cart_item,method: :post,multipart: true do |f| %>
                  <%=f.hidden_field :name, :value =>@item.name %>
                  <%=f.hidden_field :item_id, :value =>@item.id %>
                  <%=f.hidden_field :customer_id, :value =>current_customer.id%>
                  <%=f.hidden_field :image, :value =>@item.image %>
                  <%= f.select :amount, *[1..9] %>
                  <%= f.submit "カートに追加"%>
                <% end %>
              </td>
            </tr>
          </body>
        </table>
      </div>
  </div>
</div>