<div class ="container-fluid d-flex">
  <div class ="row mt-5">
    <div class ="col ml-4">
      <%= render "public/items/genre" %>
    </div>
      <div class="col d-flex justify-content-center">
        <table class ="table-sm">
          <tbody>
            <tr><%= image_tag @item.image,size: "400x400" %></tr>
            <tr>
              <table class ="table table-borderless">
                <tr><td></td></tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
                <tr><td><%= @item.name %></td></tr>
                <tr><td><%= @item.introduction %></td></tr>
                <tr><td>¥<%= @item.add_tax_price.to_s(:delimited) %>(税込)</td></tr>
                <tr><td>
                  <%= form_with model: @cart_item,method: :post,multipart: true do |f| %>
                    <%=f.hidden_field :name, :value =>@item.name %>
                    <%=f.hidden_field :item_id, :value =>@item.id %>
                    <!--ログインしていない場合-->
                    <% unless current_customer.present? %>
                    <% else %>
                      <%=f.hidden_field :customer_id, :value =>current_customer.id%>
                    <%=f.hidden_field :image, :value =>@item.image %>
                    <%= f.select :amount, *[1..9] %>
                    <%= f.submit "カートに追加" ,class: "btn btn-sm btn-outline-primary"%>
                    <% end %>
                  <% end %>
                </td></tr>
              </table>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>