<div class="container mt-5">
  <div class="row d-flex justify-content-center">

      <div class="col-lg-6 d-flex justify-content-center">
        <%= image_tag @item.image,size: "300x300" %>
      </div>

      <div class="col-lg-3 d-flex justify-content-center">
        <table class ="table-sm">
          <body>
            <tr>
              <td><%= @item.name %></td>
            </tr>
            <tr>
              <td><%= @item.introduction %></td>
            </tr>
              <td>¥<%= @item.add_tax_price.to_s(:delimited) %>(税込)</td>
            </tr>
            <tr>
              <td>
                <%= form_with model: @cart_item,method: :post,multipart: true do |f| %>
                  <%=f.hidden_field :name, :value =>@item.name %>
                  <%=f.hidden_field :item_id, :value =>@item.id %>
                  <!--ログインしていない場合-->
                  <% unless current_customer.present? %>
                  <% else %>
                    <%=f.hidden_field :customer_id, :value =>current_customer.id%>
                  <%=f.hidden_field :image, :value =>@item.image %>
                  <%= f.select :amount, *[1..9] %>
                  <%= f.submit "カートに追加"%>
                  <% end %>
                </td>
              <tr>
                <td>
                  <%= f.submit "カートに追加" ,class: "btn btn-sm btn-outline-dark"%>
                </td>
              </tr>
                <% end %>

            </tr>
          </body>
        </table>
      </div>
  </div>
</div>