<!--admin login後のヘッダー-->
<nav class ="navbar navbar-expand-lg border border-dark">
  <div class ="container">
    <div class="collapse navbar-collapse">
      <h1 class="outline-secondary pb-auto"><%= image_tag 'nagano.png',size: "100x100" %></h1>
        <ul class="navbar-nav ml-auto pb-5">
          <li class="nav-item mr-3">
            <%=link_to "商品一覧",admin_items_path,class:"btn btn-outline-secondary" %>
          </li>
          <li class="nav-item mr-3">
            <%= link_to "会員一覧",admin_customers_path,class:"btn btn-outline-secondary"%>
          </li>
          <li class="nav-item mr-3">
            <%= link_to "注文履歴一覧",root_path,class:"btn btn-outline-secondary" %>
          </li>
          <li class="nav-item mr-3">
            <%= link_to "ジャンル一覧",admin_genres_path,class:"btn btn-outline-secondary" %>
          </li>
          <li class="nav-item mr-1">
            <%= link_to "ログアウト",destroy_admin_session_path,method: :delete,class:"btn btn-outline-secondary" %>
          </li><br>
        </ul>
    </div>
  </div>
</nav>