<!--会員側ヘッダー-->
<nav class ="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse">
      <div class ="col">
      <h1 class="outline-secondary pb-auto">
        <%= link_to root_path do %>
        <%= image_tag 'logo.png',size: "150x150" %></h1>
        <% end %>
      </div>

        <div class ="col-sm-4 col-lg-3 text-light">
          <span>ようこそ <%= current_customer.last_name %> <%= current_customer.first_name %> さん</span>
          <ul class="navbar-nav my-3">
            <li class="nav-item mr-3">
              <%=link_to "マイページ",customers_path,class: "btn btn-sm btn-outline-light" %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to "商品一覧",items_path,class: "btn btn-sm btn-outline-light"%>
            </li>
            <li class="nav-item mr-3">
              <%= link_to "カート",cart_items_path,class: "btn btn-sm btn-outline-light" %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to "ログアウト",destroy_customer_session_path,method: :delete ,class: "btn btn-sm btn-outline-light" %>
            </li>
          </ul>
            <%= render "layouts/serch" %>
        </div>
    </div>
</nav>