<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class ="wrapper">
    <header>
      <%if admin_signed_in? %>
        <%= render "layouts/admin_header" %>
      <% elsif customer_signed_in? %>
        <%= render "layouts/customer_header" %>
      <% else %>
        <%= render "layouts/before_login" %>
      <% end %>
    </header>
    <main class ="main_body">
      <%= yield %>
    </main>
    <footer class="footer">
    </footer>
    </div>
  </body>
</html>

